# VSCode
./vscode/

# data
*.csv
*.png
*.jpg

# pycache
__pycache__/

# ipython
.ipynb_checkpoints/

# MacOS
.DS_Store

# model weights (torch, sklearn, etc.)
*.pt
*.pth
*.h5
*.hdf5
*.pkl
*.pickle
*.joblib
